/* @tailwind base; */
@tailwind components;
@tailwind utilities;




@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");



.main_box {
  font-family: "Raleway", sans-serif;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding:2% 5%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}


.input-data{
    padding-bottom:20% ;

}

.min-max {
    display: flex;
    gap: 1rem;
  }
  

  

.inputfield {
  appearance: button;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: #000000 4px 4px 0 0,#fff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.invalid{
    text-align: center;
    font-size: 30px;
    
}



/*     --------------------------------------------------------      */
.header {
  width: 100%;
  border-bottom: 3px solid black;
  text-align: right;
  position: relative;

}
.logo {
  font-family: "Raleway", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    font-weight: 800;
    padding: 26px;
    border-right: 3px solid black;
  }

.link {
  display: inline-block;
  padding: 7px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;


}
